#header
	.header.left
		.top-line
		.nav
			ul
				li<a href='home.html'>Home</a>
				li<a href='about.html'>About</a>
	#centre-image
		<img src='http://placehold.it/250x250' alt='tkd-logo'/>
	.header.right
		.top-line
		.nav
			ul
				li<a href='tkd.html'>What is TaeKwonDo</a>
				li<a href='contact.html'>Contact Us</a>